
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.control {
  position: relative;
  margin-bottom: -20px;
}

.email {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

// Login header (h1)
.heading {
  text-align: center;
  width: 100%;
  color: #5cb85c
  }

// Error message when user credentials are incorrect
.login-error-message {
  list-style-type: none;
  text-align: center;
}

.table td.truncateText {
  max-width: 170px;
  span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
  }
}

.modal-open[style] {
  padding-right: 0px !important;
}
