
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.control {
  position: relative;
  margin-bottom: -20px;
}

.email {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.email ~ .input-icon {
  background-image: url("../../public/imgs/user-email-icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 22px;
  height: 18px;
  position: absolute;
  left: 8px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.pass {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.pass ~ .input-icon-pass {
  background-image: url("../../public/imgs/user-pass-icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 22px;
  height: 20px;
  position: absolute;
  left: 8px;
  bottom: 0;
  top: 0;
  margin: auto;
}
// Login header (h1)
.heading {
  text-align: center;
  width: 100%;
  color: #5cb85c
  }

// Error message when user credentials are incorrect
.login-error-message {
  list-style-type: none;
  text-align: center;
}

.table td.truncateText {
  max-width: 170px;
  span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
  }
}