/*Stop page moving left/right on smaller screens  */
@media only screen and (max-width: 1025px) {
  html, body {width: auto!important; overflow-x: hidden!important} 
}
/* =================================== */
/*	Account Page
/* =================================== */
.sidebar {
  display: inline-block;
  width: 25%;
  border-radius: 3px;
  overflow: hidden;
}
.sidebar i {
  margin-right: 15px;
}
.sidebar-menu-item {
  background: #FFF;
  padding: 20px;
  color: #999;
  border-bottom: 1px solid #F0F1F2;
  transition: all 0.3s ease;
}
.sidebar-menu-item--active {
  color: #000;
  border-left: 3px solid #348AA7;
}
.sidebar-menu-item:hover {
  background: #f7f7f7;
  cursor: pointer;
}
.account-main {
  width: 70%;
  vertical-align: top;
  display: inline-block;
  background: #FFF;
  margin-left: 3%;
  border-radius: 3px;
  overflow: hidden;
}
.main-header {
  padding: 20px;
  border-bottom: 1px solid #F0F1F2;
}
.main-content {
  padding: 20px;
}
.main-settings-form {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.main-input-label {
  font-size: 100%;
  display: block;
  margin: 5px 5px 5px 5px;
}
.main-input {
  display: inline-block;
  width: 100%;
  border: 1px solid #F1F3F5;
  margin-bottom: 20px;
  outline: none;
  padding: 15px;
  border-radius: 3px;
  color: #000;
}
.main-input:disabled {
   background: #dddddd;
}
.main-input:focus {
  border: 1px solid #07AD4D;
  transition: all 0.3s ease;
}
.main-content .btn {
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.main-save-button {
  color: #FFF;
  background-color: #07AD4D;
}
.main-save-button:hover {
  background-color: #037835;
  color:white;
  cursor: pointer;
}
.main-cancel-button {
  color: #FFF;
  background: #CCC;
}
.main-cancel-button:hover {
  background-color: #b3b3b3;
  cursor: pointer;
}
@media (max-width: 764px) {
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar-menu-item {
    padding: 15px;
  }
  .account-main {
    width: 100%;
    margin: 0;
  }
}
.padding-top-sm{
  padding-top:10px;
}
.padding-top-md{
  padding-top:20px;
}
/* Border */
.border-bottom {
  border-bottom: 2px solid dimgrey;
}
.border-bottom-sm {
  border-bottom: 1px solid dimgrey;
}
/* Form */
form > a{
  padding-right:80px;
}
form a {
  font-size:20px;
}
form a:hover {
  text-decoration: none;
}
.border-top {
  border-top: 2px solid dimgrey;
  padding-left:10px;
}
/* =================================== */
/*	Login Page
/* =================================== */
.disabled-a {
  pointer-events: none;
cursor: default;
}
.login {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  left: 15%;
  width: 28%;
  height: 450px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
    .login {
      margin-top: 0px;
      left: 50%;
      width: 100%;
    }
}
.login h1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #f0f5fa;
  text-align: center;
}
.login h1 span {
  color:#07AD4D;
}
.login form {
  height: 100%;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #23282d;
  border-top: 4px solid #3c4146;
  border-bottom: 4px solid #3c4146;
}
.login form input,
.login form button {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #3c4146;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 1.5em;
  border-radius: 4px;
  transition: all .5s ease;
}
.login form input::-webkit-input-placeholder,
.login form button::-webkit-input-placeholder {
  color: #8c9196;
}
.login form input:-ms-input-placeholder,
.login form button:-ms-input-placeholder {
  color: #8c9196;
}
.login form input::-ms-input-placeholder,
.login form button::-ms-input-placeholder {
  color: #8c9196;
}
.login form input::placeholder,
.login form button::placeholder {
  color: #8c9196;
}
.login form input:focus,
.login form button:focus {
  background-color: #50555a;
}
.login form button[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #07AD4D;
  color: #f0f5fa;
  cursor: pointer;
  transition: all .5s ease;
}
.login form button[type="submit"]:hover {
  background-color: #037835;
}
.login-a {
   font-size: 14px;
   color:#07AD4D;
   cursor: pointer;
}
.login-a:hover{
  color:#037835;
}
.rememberlabel {
  display: block;
  position:relative;
  top: 10px;
  padding-left: 20px;
  text-indent: -15px;
}
.rememberinput {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -15px;
  *overflow: hidden;
}
/* safari remember me input fix */
.rememberinput:not(:root:root){ 
  left:100px;
}
/* ipad  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login {
    left: 25%;
    width: 50%;
  }
}
/* =================================== */
/*	Home Page (home.blade.php)
/* =================================== */
.content-background-white {
  background-color:#fff; 
  border-bottom: 1px #787878 solid
}
.content-background-grey {
  border-bottom: 1px #787878 solid
}
/* view all header */
.view-all {
  float:right; 
  color:#4272D7; 
  font-size:18px;
}
@media only screen and (max-width: 767px) {
  .view-all {
    margin-right:10%;
  }
}
.header-modal {
  color: #07AD4D;
  font-size: 20px;
}
/* START modal Content */
.modal-header {
  background-color:#07AD4D;
}
.modal-header h5 {
  color: white; 
  font-size: 15px;
}
.modal-header button {
  opacity: 0.9; 
  color: white; 
  position:absolute;
  right: 2%;
  top: 2%;
}
.modal-close-i {
  opacity: 0.9; color: white; position:absolute;right: 2%;top: 2%;
}
/* text overflow in modal */
.modal-body{
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  background-color: #F2F2F2;
}
.modal-body p {
  word-wrap: break-word;
}
.modal-body a {
  color: #07AD4D;
}
.modal-body button {
  width: 100%; 
  height: 100%; 
  background-color: #07AD4D;
  color:white;
}
.modal-footer{
  background-color: #F2F2F2
}
/* END modal Content */
/* Voucher styling */
.voucher-style {
  background-color: white; 
  border: 1px solid #CCCCCC; 
  text-align: center;
}
.voucher-name {
  color:#07AD4D; 
  font-size: 20px; 
  margin-bottom: 10px;
  margin-top: 10px;
}
.voucher-view-btn {
  background-color:#07AD4D;  
  width: 50%; 
  height: 100%; 
  margin-right: 10px;
}
.favourite-btn {
  background-color:#07AD4D; 
  color:white; 
  position: relative; 
  right: 65%;
}
.favourite-btn:hover {
  color:#ad1707; 
}
.favourite-btn-active {
  background-color:#07AD4D; 
  color: #ad1707;
  position: relative; 
  right: 65%;
}
.favourite-btn-active:hover {
  color: #ad1707;
}
.favourite-btn-align {
  float:right;
}
/* Home headers */
.home-header-pop {
  font-size: 25px; 
  position:relative; 
  left: 28px; 
  color:#07AD4D; 
  margin-bottom: 10px;
  font-weight: bold;
  float:left;
}
.home-header {
  font-size: 25px; 
  position:relative; 
  left: 20.7%; 
  color:#07AD4D; 
  margin-bottom: 10px;
  font-weight: bold;
}
/* favourite hover over */
.fav-hover:hover .fa-heart {
      color:#ad1707;
      transition: transform 0.8s;
      transform:  scale(1.5);
}
/* Colour the pagination links green */
.pagination > li > a,
.pagination > li > span {
    color: #07AD4D; 
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #07AD4D;
    border-color: #07AD4D;
}
/* Voucher modal scrollbar */
.modal-open {
  overflow:hidden;
  overflow-y:scroll;
  padding-right:0 !important;
}
.img-center { 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}
/* Vouchers */
.hoverOver img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverOver:hover img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.business-card {
  background-color: white; 
  text-align: center; 
}
.alignVoucherCards {
  margin-right: 15px; 
  padding: 5px;
}
.errorReturn {
  color: black;
}
.errorReturn:hover {
  color: black;
}
/* End Vouchers */
.alignCategoryDropBox {
  padding-bottom: 15px; 
  left: 11%;
}
.alignSortByDropBox {
  padding-bottom: 15px; 
  right: 12%;
}
.padBottom {
  padding-bottom: 70px;
}
/* Search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
  }
  .searchTerm {
  width: 100%;
  border: 3px solid #08AD4E;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #B0A8AA;
  }
  .searchTerm:focus{
  color: black;
  }
  .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #08AD4E;
  background: #08AD4E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  }
  .wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
/* End Search bar */
/* =================================== */
/*	Main Blade Page (main.blade.php)
/* =================================== */
#mainLogo {
  padding-top: 10px; 
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  #mainLogo{
    padding-top: 20px; 
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mainLogo{
    display:none;
  }
}
@media only screen and (max-width: 767px) {
  #mainLogo{
    padding-top: 15px; 
    padding-left: 15px; 
    font-size: 26px;
  }
}
@media only screen and (max-width: 320px) {
  #mainLogo{
    padding-top: 20px; 
    padding-left: 25px; 
    font-size: 22px;
  }
}
/* =================================== */
/*	Basic Style 
/* =================================== */

.page-position {
  margin-bottom: 0px;
}
.main-red-col {
  color: #ad1707;
}
.mb650 {
  margin-bottom: 650px;
}
.mb350 {
  margin-bottom: 350px;
}
.mb450 {
  margin-bottom: 450px;
}
.mb250 {
  margin-bottom: 250px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb150 {
  margin-bottom: 150px;
}
.mb300 {
  margin-bottom: 300px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb70 {
  margin-bottom: 70px;
}

.mt330 {
  margin-top: 330px;
}
/* Disable text area resizing */
textarea {
  resize: none;
}
/* Fix sweet alert sizing */
.swal2-popup {
  font-size: 1.6rem !important;
}
body {
    background-color: #F4F6F9;
    font-family: "Ubuntu", "Montserrat", "Arial";
    line-height: 21px;
	  font-size: 13px;
    color: #6a737b;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #fff;
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
a:focus, a:hover {
   text-decoration: none;
   color:white;
}
.web-link:hover{
 color:#24AF4D;
}
h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
   clear: both;
}
.clear {
   *zoom: 1;
}
span.color {
	color: #0feb9e;
}
body > section,
.footer {
	padding: 30px 0;
}
.sec-title h2 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.advert {
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.devider {
  margin-top: 30px;
}
.devider i {
  color: #cccccc;
}
.devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}
.devider:before {
  right: 10px;
}
.devider:after {
  left: 10px;
}
.mb50 {
	margin-bottom: 50px;
}
/*=========================================
	Header
==========================================*/
#navigation {
  background-color: rgba(7, 173, 77, 1);
  margin: 0;
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}
.navbar-toggle i {
	color: #fff;
}
.navbar-brand {
  padding: 0;
}
.navbar-nav li a {
	border-top: 1px solid transparent;
}
/* Navigation hover over */
.navbar-nav  i a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color: #07ba53; 
	color: white;
}
/*---drop down menu---*/
.nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  background: #07AD4D;
}
.nav ul li {
  display: block;
  position: relative;
  float: left;
  background: #07AD4D;
}
/* This hides the dropdowns */
.nav li ul {
  display: none;
}
.nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
.nav ul li a:hover {
  background: #2c3e50;
}
/* Display the dropdown */
.nav li:hover > ul {
  display: block; 
  position: absolute;
}
/* Remove float from dropdown lists */
.nav li:hover li {
    float: none;
}
.nav li:hover li a:hover {
  background: #07ba53;
}
.main-navigation li ul li {
  border-top: 0;
}
/* Displays second level dropdowns to the right of the first level dropdown */
.nav ul ul ul {
  left: 100%;
  top: 0; 
}
/* Simple clearfix */
.nav ul:before,
.nav ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav ul:after {
    clear: both;
}
@media only screen and (max-width: 767px) {
  /* Display the dropdown */
  .nav li > ul {
    display: block; 
    position: absolute;
  }
  .nav li li {
      float: none;
  }
  .nav li:hover li a:hover {
    background: #07ba53;
  }
  .main-navigation li ul li {
    border-top: 0;
  }
  /* Simple clearfix */
  .nav ul:before,
  .nav ul:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  .nav ul:after {
      clear: both;
  }
}
/*=========================================
	Slider
==========================================*/
#slider {
	padding: 0;
}
/*=========================================
	Advertise Page (advertise.blade.php)
==========================================*/
.features {
  background-color: #f4f7f9;
}
.service-icon {
  border: 1px solid #07AD4D;
  border-radius: 50%;
  color: #07AD4D;
  float: left;
  padding: 10px 13px;
}
.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px;
}
.service-desc h3 {
  color: #062033;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
/* ---Pricing--- */
.pt40 {
  padding-top: 40px;
}
.greyli {
  background-color: #c4c4c4;
}
.columns {
  float: left;
  width: 50%;
  padding: 8px;
  }
  /* Style the list */
  .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  }
  /* Add shadows on hover */
  .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  /* Pricing header */
  .price .header {
  background-color: #4CAF50;
  color: white;
  font-size: 25px;
  }
  /* List items */
  .price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  }
  /* Grey list item */
  .price .grey {
  background-color: #eee;
  font-size: 20px;
  }

  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  }
  .button:hover{
    background-color: #037835;
  }
  @media only screen and (max-width: 600px) {
  .columns {
  width: 100%;
  }
  }
/* ---Service items--- */
.wordwrap {
  word-wrap: break-word; 
  width: 200px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.fontSize17 {
  font-size: 17px;
}
#advertiseFacts {
	background-image: url(/imgs/packages/coast.png);
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}
.advertiseFacts .devider:before,
.advertiseFacts .devider:after {
	color: #737C85;
}
.advertiseFacts .devider i {
	color: #fff;
}
.parallax-overlay {
	background-color: rgba(6,32,51,.8);
	padding: 70px 0;
}
.parallax-overlay-app {
	padding: 70px 0;
}
.fact-item {
  color: #fff;
}
.fact-item i {
  border: 1px solid #737C85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}
.fact-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}
.fact-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
}
/*=========================================
	Contact Us
==========================================*/
.contact-header {
  color:white;
  margin-bottom:12px;
  font-size:32px; 
}
.contact-subtext {
  font-size:15px;
  color:white;
}
.contact-sep {
  color:white;
}
.contact-call {
  margin-top:20px;
  font-size:28px; 
  color:white;
}
.contact-call-on {
  color:#07AD4D;
  font-size:28px;
}
.contact-call-on:hover {
  color:#037835;
}
.container-form .input,
.container-form .msg .area{
   background-color:#F4F6F9;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}
.contact-main .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}
.contact-main .input:last-child{
  margin-right: 0;
}
.container-form {
  max-width: 800px;
  height: 500px;
  background: transparent;
  margin: 20px auto;
  padding: 40px;
}
.container-message {
  max-width: 800px;
  background: transparent;
  margin: 20px auto;
}
.container-form .btn {
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
  left:40%;
}
.container-form .input:focus,
.container-form .msg .area:focus{
   border: 2px solid #07AD4D;
  transition: all 0.3s ease;
}
.msg .area{
  height: 200px;
}
.container-form .main-save-button {
  color: #FFF;
  background-color: #07AD4D;
}
.container-form .main-save-button:hover {
   background-color: #037835;
  cursor: pointer;
  color:white;
}
@media only screen and (max-width: 767px) {
  .contact-main .input{
 width: 100%;
 margin-right: 4%;
}
.container-form .btn {
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
  left:25%;
}
.contact-phone{
  display: block;
  position:relative;
  top:20px;
}
.contact-or{
  margin-top:110px;
}
}
/*=========================================
Privacy Policy
==========================================*/
.grey-underline {
  border-bottom: 1px solid dimgrey;
}
.privacy h3 {
  line-height:40px;
  font-weight: bold;
}
.privacy p {
  font-size: 16px;
}
.privacy li {
  font-size: 16px;
}
/*=========================================
Terms and conditions
==========================================*/
.terms h3 {
  line-height:40px;
  font-weight: bold;
}
.terms p {
  font-size: 16px;
}
.terms li {
  font-size: 16px;
  line-height:30px;
}
/*=========================================
	Footer
==========================================*/
.footer {
  background-color: #07AD4D;
  color: #fff;
}
.footer a:hover {
  color: #062033;
}
.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}
.footer-single {
  line-height: 24px;
}
.footer-single li {
  line-height: 32px;
}
.footer-single p i {
  margin: 0 10px;
}
.copyright {
  color: #fff;
  margin-top: 100px;
}
/* =================================== */
/*	Favourites  
/* =================================== */

.fav-red {
  color: #AD1707;
}
.fav-red:hover {
  color: black;
}

.delete-favourite:hover{
  color:#AD1707;
}

.voucher-expire-f {
  font-size: 14px;
}



/* =================================== */
/*	Download App  
/* =================================== */

.download-header{
  margin-bottom:15px; 
  color:black
}

.download-divider{
  margin-top:0;
  color:black
}

@media only screen and (max-width: 1025px) {
 .download-mobile{
   width:100%;
   height:100%;
 }
}


/*=========================================
	Misc
==========================================*/

@media only screen and (max-width: 767px) {
  .businessShow {
    display: none;
  }
}
.navbar-collapse.collapse {
  transition: height 0.1s;
}
.navbar-collapse.collapse.in {
  max-height: none;
  height: 100vh;
}
@media only screen and (max-width: 320px) {
  #topNav
  {
    overflow-y: scroll !important;
    max-height: 415px !important;
  }
}
@media only screen and (max-width: 767px) {
  .app-mobile img {
   width:100%;
   height:100%;
  }
}
.redeem-overlay{
  position: absolute;
  width: 80%;
  top: 30%;
  left:10%;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: 4px solid #07AD4D;
}

.redeem-overlay-p{
  text-align:center;
  color:#A61106;
  font-weight:650;
  font-size:18px;
}