/*============================================================
	For Small Desktop / Laptop
==============================================================*/

@media (min-width: 950px) and (max-width: 1440px) {



}



/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {


  

/* slider */

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */

/* team */

/* fatcs */

#facts {
background-position: center top !important;
}

/* contact */

/* footer */

.footer-single {
  margin-bottom: 30px;
}

}



/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {


.testa {
  height: 100%;
  width: 100%;
}

/* slider */

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 280px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */

/* team */

/* facts */

#facts {
background-position: center top !important;
}

/* contact */

/* footer */

.footer-single {
  margin-bottom: 30px;
}

  .searchTerm {

    width: 400px;
    border: 3px solid #08AD4E;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #B0A8AA;
    }

    .search {
      width: 100%;
      position: relative;
      display: flex;
      margin: 0 -35px -20px;
      text-align: center;
      }

     
}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */

}